# Aiohttp
aiohttp==3.8.5
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.1.0
charset-normalizer==3.2.0
frozenlist==1.4.0
multidict==6.0.4
yarl==1.9.2

# asyncpg, psycopg2, databases, SQLAlchemy
SQLAlchemy==1.4.49
asyncpg==0.28.0
psycopg2==2.9.7
databases==0.7.0
greenlet==2.0.2

# Pydantic, pydantic-settings
pydantic==2.2.1
pydantic-settings==2.0.3
pydantic_core==2.6.1
python-dotenv==1.0.0
annotated-types==0.5.0
typing_extensions==4.7.1

# FastAPI
fastapi==0.101.1
anyio==4.0.0
exceptiongroup==1.1.3
sniffio==1.3.0
starlette==0.27.0
fastapi-restful==0.5.0
mypy-extensions==1.0.0 
typing-inspect==0.9.0

# Loguru
loguru==0.7.0

# Uvicorn # uvloop
click==8.1.7
h11==0.14.0
httptools==0.6.0
PyYAML==6.0.1
uvicorn==0.23.2

watchfiles==0.20.0


# Other dependencies
asgi-correlation-id==4.2.0
orjson==3.9.5
idna==3.4

psycopg[binary]==3.1.9

sqlacodegen

alembic==1.11.1
alembic_utils==0.7.6

